body{
    height:auto;
   overflow-x: hidden;
}

.main-page-container{
    display: flex;
    
    width:100%;
}

.home-content-mission{
    width: 15%;
    margin-top:3%;
    padding: 10px;
    
    background-color: rgb(249, 250, 218);
    left: 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.home-content-adds{
    width: 75%;
    height: 65%;
    padding:20px;
    margin-top:3%;
    border-radius: 5px;
    margin-left: 3%;
    background-color: rgb(166, 165, 160);
}
