body{
    height:auto;
   overflow-x: hidden;
}

.main-page-container{
    display: flex;
    
    width:100%;
}

.home-content-mission{
    width: 15%;
    margin-top:3%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF8EA;
    left: 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.home-content-adds{
    width: 75%;
    height: 65%;
    padding:20px;
    margin-top:3%;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #FFF8EA;
    ;
}

.a{
    list-style: none;
}

/*create moble responsiveness. make text containers stack on top of eachother*/